<section class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th> 
                    <i class="fa fa-edit" style="font-size:24px"></i> 
                </th>
                <th> 
                    <i class="fa fa-remove" style="font-size:24px"></i>
                </th>
            </tr>
            <tr *ngFor="let u of users">
                <td>{{ u.key }}</td>
                <td>{{ u.nome }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <i class="fa fa-edit" style="font-size:24px" (click)="edit(u.key)"></i> 
                </td>
                <td>
                    <i class="fa fa-remove" style="font-size:24px" (click)="remove(u.key, u.ativo)"></i>
                </td>
            </tr>
        </table>
    </div>

</section>